<?xml version="1.0"?>
<config>
    <modules>
        <Eldar_CustomerLog>
            <version>0.0.1</version>
        </Eldar_CustomerLog>
    </modules>

    <global>
        <resources>
            <customerlog_setup>
                <setup>
                    <module>Eldar_CustomerLog</module>
                </setup>
            </customerlog_setup>
        </resources>

        <models>
            <customerlog>
                <class>Eldar_CustomerLog_Model</class>
                <resourceModel>customerlog_resource</resourceModel>
            </customerlog>

            <customerlog_resource>
                <class>Eldar_CustomerLog_Model_Resource</class>
                <entities>
                    <customer_log>
                        <table>customer_log</table>
                    </customer_log>
                </entities>
            </customerlog_resource>
        </models>
    </global>
</config>