<?xml version="1.0"?>
<config>
    <modules>
        <Eldar_CustomerLog>
            <version>0.0.1</version>
        </Eldar_CustomerLog>
    </modules>

    <global>
        <resources>
            <customerlog_setup>
                <setup>
                    <module>Eldar_CustomerLog</module>
                </setup>
            </customerlog_setup>
        </resources>

        <models>
            <eldar_customerlog>
                <class>Eldar_CustomerLog_Model</class>
                <resourceModel>customerlog_resource</resourceModel>
            </eldar_customerlog>

            <customerlog_resource>
                <class>Eldar_CustomerLog_Model_Resource</class>
                <entities>
                    <log_table>
                        <table>customer_log</table>
                    </log_table>
                </entities>
            </customerlog_resource>
        </models>
    </global>

    <frontend>
        <events>
            <customer_login>
                <observers>
                    <eldar_customerlog_customer_login>
                        <type>model</type>
                        <class>eldar_customerlog/observer</class>
                        <method>customerLogin</method>
                    </eldar_customerlog_customer_login>
                </observers>
            </customer_login>
        </events>
    </frontend>
</config>